{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ welcome }}</h1>

    <img src="{{ asset('build/images/Avatar_web.jpg') }}" alt="zourit en grèn"/>

{% endblock %}