{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Error 404</h1>

{# <a href="{{ path('program_index') }}">Retour à la liste des programmes</a> #}
{% endblock %}